p{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




ul{
    background-color: #051947;
    border-radius: 10px;
    
}

ul li{
    color: #ffffff;
    text-decoration: none;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
    font-size: 25px;
    
}

ul li a{
    text-decoration: none;
    text-align: center;
    color: white;
}

li{
    background-color: #051947;
    color: white;
    padding: 1px 1px;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
li:hover {
    background-color: rgb(7, 19, 187);
}