p{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




ul{
    background-color: #0B1B40;
    border-radius: 10px;
}

ul li{
    color: #ffffff;
    text-decoration: none;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 200px;
    font-size: 20px;
    mouse
}

ul li a{
    text-decoration: none;
    color: #ffffff;
}